/* Estilo para o cabeçalho */
header {
    background-color: #030141;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  /* Estilo para o menu de navegação */
  nav ul {
    list-style: none;
    padding: 10px;
    background-color: #030141;
    text-align: center;
  }
  
  nav li {
    display: inline;
    margin: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }

  /* Estilos para o Formulário de Contato */
form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    height: 50px; 
  }
  
  input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Estilo para o rodapé */
  footer {
    background-color: #030141;
    color: #fff;
    text-align: center;
    padding: 7px;
  }